@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

/* popup-modal animation key frame */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body.main-page {
  font-family: "montserrat", sans-serif;
  /* background: url(https://images.unsplash.com/photo-1496171367470-9ed9a91ea931?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHdlYiUyMGRlc2lnbnxlbnwwfHwwfHw%3D&w=1000&q=80)
    #b3c5ff; */
  background-size: cover;
}

body.pricing {
  font-family: "montserrat", sans-serif;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 50px;
  background: url(https://cdn.wallpapersafari.com/15/54/xari2t.jpg) #c8d9fd;
  background-size: cover;
}

a:hover {
  color: rgb(206, 198, 198);
}

/* .brand-identy {
  line-height: 1.85;
} */

.call-us {
  text-decoration: none;
  color: white;
  font-size: medium;
}

.card-body {
  font-size: small;
  line-height: 1;
  background: rgb(252, 245, 245);
}

.card-body .card-bottom-text {
  margin-bottom: 100px;
}

.card-body p {
  color: black;
}

.card-head {
  background-color: #145da0;
  /* height: 3rem; */
  padding-top: 5px;
  padding-bottom: 5px;
}

.card-head p {
  font-size: xx-small;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: white;
}

.copy-right {
  margin: 25px 0 0;
}

.check-mark {
  color: #145da0;
}

.clients {
  font-size: 0.85rem;
  color: black;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 50px;
}

.my-clients {
  border: 0.5px solid #145da0;
}

.clients h6 {
  font-size: smaller;
  color: #145da0;
}

.clients p {
  font-size: 0.75rem;
  color: #145da0;
  font-family: "Poppins", sans-serif;
  text-align: center;
  /* font-weight: bold; */
}

.clients-section-heading {
  margin-bottom: 15px;
}

.digi-ad-card {
  border-radius: 5px;
  padding: 25px;
  margin: 1px;
  box-shadow: 3px 3px 5px #35353563;
  background-color: #145da0;
  /* border: 1px solid black; */
}

.digi-ad-card h1 {
  color: white;
  font-size: xx-large;
}

.digi-ad-card p {
  color: white;
}

.digi-ad-container {
  margin-top: 25px;
  justify-content: center;
}

.digi-ad-discount {
  font-size: xx-small;
  font-weight: 200;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 10px;
}

.digi-ad-header {
  background-color: #4883ff;
  padding-top: 8px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.digi-ad-prices {
  margin-top: 25px;
  margin-bottom: 75px;
}

.digi-ad-rate-heading {
  margin-top: 35px;
}

#footer {
  padding: 3% 15%;
  text-align: center;
  background-color: #145da0;
}

.go-back-to-home {
  color: blue;
  font-weight: bold;
  /* margin: 25px; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "montserrat", sans-serif;
}

.pricing p {
  font-weight: normal;
}

.icons {
  font-size: 3.5rem;
  color: #ef8172;
  padding-bottom: 1rem;
}

.logo {
  width: 200px;
  border-radius: 8px;
}

.modal-header {
  background-color: orange;
  color: white;
}

.website-form-header {
  background-color: green;
  color: white;
}

/* .more-softwares {
  line-height: 1.6;
} */

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light 300", sans-serif;
}

#our-services {
  background-color: aliceblue;
  box-shadow: 0 0 5px #35353563;
}

.free-service {
  font-size: xx-small;
  font-weight: 200;
  /* font-style: italic; */
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}

.free-service-div {
  background-color: black;
  /* background-color: rgb(13, 13, 172); */
  display: inline-block;
  padding: 2px 3px;
  text-align: center;
  height: 15px;
  border-radius: 5px;
}

#softwares {
  background-color: aliceblue;
  box-shadow: 0 0 5px #35353563;
}

/* .p-and-s-big-heading-container {
  margin-top: 5rem;
  text-align: left;
  padding-left: 8px;
} */

p {
  color: #8f8f8f;
}

.p-and-s-column {
  padding: 3% 2%;
}

/* #products-slides-section {
  background-color: #145da0;
  height: 580px;
  background-size: contain;
} */

/* .product-image {
  height: 580px;
  width: 1100px;
} */

.product-card {
  border: 1px solid green;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  background: rgb(252, 245, 245);
}

.pricing-pg-noticeBoard {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1055;
  color: white;
  padding: 15px;
  font-size: small;
  letter-spacing: 2px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.section-heading {
  margin-top: 50px;
  font-family: "montserrat", sans-serif;
}

.ask-for-price-button {
  font-size: medium;
  border: rgb(98, 184, 98) 3.75px solid;
}

.tap-or-click-here {
  color: #145da0;
}

.tap-or-click-here:hover {
  color: gray;
}

.social-media {
  margin: 10px;
  color: white;
}

.social-media:hover {
  color: gray;
}

#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
  /* Form z-index is 1055 is set to form
   z-index, so it can be seen */
  z-index: 1055;
}
#status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}
#status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}

/* responsive team image section & team image codes */
.team-image {
  height: 100%;
  max-width: 1350px;
  width: 100%;
}

/* Headings */
/* .team-img-big-heading-original {
  color: rgb(244, 247, 250);
  margin-left: 1rem;
  opacity: 0.75;
  position: absolute;
  top: 45%;
} */

.team-img-big-heading {
  color: rgb(244, 247, 250);
  /* color: white; */
  font-size: 200%;
  margin-left: 1rem;
  opacity: 0.75;
  position: absolute;
  top: 45%;
}

.team-img-what-we-do-text {
  margin-left: 1rem;
  color: rgb(244, 247, 250);
  /* color: white; */
  opacity: 0.75;
  position: absolute;
  top: 52.5%;
}

.tel-contact {
  color: white;
}

.tel-contact-container {
  margin: 20px;
}

.website-prices {
  margin-top: 75px;
  margin-bottom: 50px;
}

.s-plus-website-promo {
  background: green;
  display: inline-block;
  padding: 5px 5px 0 5px;
  max-height: 25px;
  border-radius: 20px;
}

.s-plus-website-promo p {
  color: white;
  font-weight: bold;
}

.s-plus-check-mark-div {
  display: inline-block;
}

.website-promotion-paid {
  background: #145da0;
  display: inline-block;
  padding: 5px 5px 0 5px;
  max-height: 25px;
  border-radius: 20px;
}

.website-promotion-paid p {
  color: white;
  font-weight: bold;
}

.card-body .paid {
  display: inline-block;
}

.wrong-mark {
  color: red;
}

/* .remove-auto-type {
  display: none;
} */

/* new section starts */
.p-and-s-images {
  height: 250px;
  width: 90%;
  /* border-radius: 8px; */
  /* float: left; */
}

.p-and-s-row {
  /* width: 25%; */
  text-align: center;
  line-height: 2;
  margin-top: 45px;
  margin-bottom: 15px;
}

.p-and-s-row img {
  border: 1px solid #c8d9fd;
}

.p-and-s-section {
  margin: 5% 10%;
  text-align: center;
}

.p-and-s {
  font-size: 1.2rem;
  color: #145da0;
  text-align: left;
  margin-left: 25px;
}

.p-and-s-description {
  font-size: 0.75rem;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: left;
}

.p-and-s-des-container {
  padding: 10px;
  border: 1px solid #c8d9fd;
  width: 90%;
  margin-left: 5%;
  background-color: #c8d9fd;
}

.p-and-s-big-heading {
  color: white;
  text-align: left;
}

.p-and-s-big-heading-div-1 p {
  font-size: x-small;
  color: white;
}

.p-and-s-big-heading-div-1 {
  line-height: 0.5;
  background-color: #145da0;
  display: inline-block;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.p-and-s-big-heading-div-2 {
  line-height: 0.5;
  background-color: #145da0;
  display: inline-block;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.pricing-plan {
  color: white;
}

.price-text {
  color: red;
}

.more-softwares {
  line-height: 2;
}

.we-deliver {
  color: black;
}

.currency {
  font-size: small;
}

.website-type {
  color: green;
  font-size: small;
}

.package-plan-container {
  margin: auto 15% 25px 15%;
  margin-bottom: 25px;
  /* box-shadow: 0 0 5px #35353563; */
}
/* new section ends */

/* popup starts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.contentBox .content h6 {
  display: inline-block;
  padding: 5px 10px;
  background: rgb(85, 84, 84);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: small;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  z-index: 10;
  /* animation: fadeIn 2s; */
}

.contentBox {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 10px;
}

.contentBox .imgBx {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentBox .imgBx::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.contentBox .imgBx img {
  position: relative;
  max-width: 250px;
  z-index: 1;
}

.contentBox .content {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  letter-spacing: 1px;
}

.contentBox .content h3 {
  color: #145da0;
  line-height: 1em;
  font-weight: 500;
  font-size: 2em;
  font-family: "Poppins", sans-serif;
}

.contentBox .content p {
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  padding-left: 25px;
  padding-right: 25px;
  color: #145da0;
}

.contentBox .content {
  margin-bottom: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: #f3f3f3 url(images\innosol-logo-initial.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 20;
}

.popup-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  animation: fadeIn 0.5s;
  display: none;
}

/* on screens within the specified max-width, only auto type text shows */
/* auto type text appears when the navbar button is toggled down */
@media (max-width: 768px) {
  .p-and-s-section {
    margin: 5% 2.5%;
  }

  .team-img-big-heading-original {
    /* display: none; */
    color: rgb(244, 247, 250);
    /* color: white; */
    margin-left: 0.5rem;
    opacity: 0.75;
    position: absolute;
    top: 25%;
  }

  .team-img-big-heading {
    /* display: none; */
    color: rgb(244, 247, 250);
    /* color: white; */
    font-size: 150%;
    margin-left: 0.5rem;
    opacity: 0.75;
    position: absolute;
    top: 225px;
  }

  .team-img-what-we-do-text {
    color: rgb(244, 247, 250);
    /* color: white; */
    margin-left: 0.5rem;
    opacity: 0.75;
    position: absolute;
    top: 260px;
  }

  .team-image {
    height: 350px;
    max-width: 1350px;
    width: 100%;
  }
}

@media (max-width: 577px) {
  .digi-ad-container {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 468px) {
  .package-plan-container {
    margin: auto 25px 25px 25px;
  }
}

@media (max-width: 900px) and (min-width: 469px) {
  .package-plan-container {
    margin: auto 5% 25px 5%;
  }
}
